* {
    border: none;
    border-radius: 8px;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @theme_text_color;
}

#custom-powermenu,#clock,#battery,#backlight,#network,#bluetooth,#pulseaudio,#language,#tray {
    background-color: @theme_base_color;
    padding: 0px 4px 0px 4px;
    margin-left: 4px;
    min-width: 32px;
}

#battery.charging {
    color: green;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#window {
    background-color: @theme_base_color;
    padding: 0px 4px 0px 4px;
    min-width: 32px;
}

#workspaces {
    background-color: @theme_base_color;
    color: @theme_text_color;
    min-width: 32px;
}

#workspaces button {
    color: @theme_text_color;
}
